In [2]:
#변수설정
a=10
b="test"
##출력
print(a)
print(type (a))
print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [3]:
##볼형 데이터
##참과 거짓의 형태
a=True
print(type(a))

<class 'bool'>

In [4]:
b=(100>10)
c=(100<10)
d=(100==100)
print(b,c,d)

True False True

In [5]:
##산술 연산자
##기본적인 사칙 연산
a=7
b=3
print(a+b,a-b,a*b,a/b,a//b,a%b,a**b)

10 4 21 2.3333333333333335 2 1 343

In [7]:
c=2
print(a+b*c)
print((a+b)*c)

13
20

In [10]:
##대입연산자
a+=5 #a=a+5
print(a)

22

###조건문
 - if문

In [12]:
a=11
if a<10:
    print("a는 10보다 작다")

In [16]:
##if~else
a=20

if a<10:
    print("a는 10보다 작다")
else:
    print("a는 10보다 크거나 같다")

a는 10보다 크거나 같다

In [25]:
##if~elif~else문
score=int(input("점수를 입력하세요 :"))
print(score)
print(type(score))
if score>90:
    print ("A")
elif score>= 80:
    print("B")
elif score>= 70:
    print("C")
else :
    print("F")
    
print("프로그램 종료")

50
<class 'int'>
F
프로그램 종료

In [22]:
##반복문
##for문
for i in range(0,10,1):
    print("%d 번째 반복" %i)
    
    
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ##1붙

0 번째 반복
1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [26]:
##1부터 10까지 합계 #for문
##합계 변수 생성
sum=0
for a in range(1,11,1):
    sum+=a #sum=sum+a
    
print(sum)

55

In [30]:
##다중 for문##구구단
for i in range(2,10,1):
    print("%d단"%i) #print(i+"단")
    for j in range(1,10,1):
        print ("%d*%d=%d "%(i,j,i*j))  
end=','

2단
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3단
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4단
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5단
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6단
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7단
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8단
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9단
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [36]:

##for문 
##1부터 100까지 숫자 중 짝수의 합계 
##hint : 1 부터 100까지 반복 , if 조건식 사용해서 짝수인 경우에만 +
sum=0 
for i in range(1,101,1):
   
    if i%2==0:
            sum+=i 
print(sum)

2550

In [39]:
##2개 주사위 굴려 두 주사위 합이 5가 되는 주사위의 값##다중 for문
for i in range(1,7,1):
    for j in range(1,7,1):
         if i+j==5 :
            print(i,j)

1 4
2 3
3 2
4 1

In [40]:
##while문 
##초기값 지정
i=0

##while문 시작
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [42]:
##break 문
for i in range(1,101,1):
    print("%d 번째 반복"%i)
    if i ==5: 
        break

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복

In [43]:
##1부터 100까지 합계를 구하는 중 합계가 500이 넘어가는 숫자와 합계의 값?

sum=0
for i in range(1,101,1):
    sum+=i 
    if sum>=500:
         break 
     
print('합게가 500 이상이 되는 범위의 숫자',i,'합계는',sum)

합게가 500 이상이 되는 범위의 숫자 32 합계는 528

In [46]:
sum=0
i=1
while i<=100:
    sum+=i
    if sum>=500:
        break
    i+=1
print('합게가 500 이상이 되는 범위의 숫자',i,'합계는',sum)

합게가 500 이상이 되는 범위의 숫자 32 합계는 528

In [47]:
##continue 문
for i in range(1,10,1):
    if i<=3:
        continue
    print("%d번째 반복"%i) #continue를 마지막에 넣으면 의미없음!

4번째 반복
5번째 반복
6번째 반복
7번째 반복
8번째 반복
9번째 반복

In [48]:
sum=0
for i in range(1,101,1):
    if i%2==1:
        continue
    sum+=i
    
print(sum)

2550

In [49]:

###튜플
a=(1,'hello')
b=(3,3.14)
c=a+b
d=a*3
e=a[1]
print(a,b,c,d,e)

(1, 'hello') (3, 3.14) (1, 'hello', 3, 3.14) (1, 'hello', 1, 'hello', 1, 'hello') hello

In [50]:
print(a[0])

1

In [51]:
a=(10,20,30,40)
print(a[1:3])

(20, 30)

In [52]:
print(a[2:])#:뒤에 아무것도 안붙이면 마지막까지! /처음이 0임주의

(30, 40)

In [53]:
##list 형태 data
a=[20,10,50,5]
b=[10,20,30,40]
##sort()=오름차순 정렬로 변겨
a.sort()
print(a)

[5, 10, 20, 50]

In [55]:
##reverse()-> 역순정렬
b.reverse()
print(b)

[40, 30, 20, 10]

In [56]:
##append(): 리스트 마지막에 항목 추가
a.append(22)
print(a)

[5, 10, 20, 50, 22]

In [57]:
##list 특징
a=[]
print(a)
a.append(10)
print(a)

[]
[10]

In [72]:
##1부터 70까지 숫자들 중 3의 배수를 list로 만들어서 출력하시오
a=[]
for i in range(1,71,1):
    if i%3==0:
        a.append(i)
        
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [59]:
for i in [5,7,10]:
    print(i)

5
7
10

In [61]:
list(range(1, 10, 1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
sum=0
for i in a:
     sum+=i
print(sum)

828

In [79]:
##dictionary data
##{key1:value1, key2: value2,...}
dict={
    "name":"test",
    "age":20,
    "phone": "01047599409"
}
print(dict["name"])

test

In [78]:
##새로운 key: value를 대입
dict['area']="seoul"
print(dict)

{'name': 'test', 'age': 20, 'phone': '01047599409', 'area': 'seoul'}

In [87]:
##database에서 data 받아올 때 data의 형태
##[{},{},{}]
test_data=[
    {"name":"test1",
     "age":20,},
    {"name":"test2",
     "age":30},
    {"name":"test3",
     "age":40}
]
print(test_data[0])   ##[0]하면 1번째 리스트 출력/ 이후 name만 출력하려면 [name]써주기

{'name': 'test1', 'age': 20}

In [89]:
print(test_data[0]['name'])

test1

In [92]:
##test_data에서 name의 값들인 list 형태로 출력
name_list=[]
for name in test_data:
    name_list.append(name["name"])
print(name_list)

['test1', 'test2', 'test3']

In [93]:
name_list=[]

for i in range(0,3,1):
    name_list.append(test_data[i]['name'])
    
print(name_list)

['test1', 'test2', 'test3']

In [95]:
##문자열 내장 함수

##대문자, 소문자 변환
##upper(), lover()
text="hello world"
print(text.upper())
print(text.lower())

HELLO WORLD
hello world

In [122]:
text="    hello   world   "
print(text)

    hello   world

In [123]:
##공백 제거 함수 
##strip(): 양쪽 공백 제거
##lstrip(): 왼쪽 공백 제거 / rstrip() : 오른쪽 공백 제거 

print(text.lstrip())
print(text.rstrip())
print(text.strip())

hello   world
    hello   world
hello   world

In [124]:
##선택한 문자열 변경
##공백 제거에도사용 가능
text.replace(" ","")

'helloworld'

In [105]:
###split()
##기준이 되는 문자열이나 , ./ 같은 특수문자열 기준으로 나눠주는 역할
a="a,b,c,d,e"
print(a)

a,b,c,d,e

In [106]:
a.split(",")

['a', 'b', 'c', 'd', 'e']

In [108]:
##함수

def func_1():
    return "Hello World"

In [109]:
print(func_1())
print(func_1())

Hello World
Hello World

In [110]:
##매개변수가 존재하는 함수 생성
def func_2(x,y):
    result=x+y
    return result
print(func_2(5,3))
print(func_2(1,3))
print(func_2(10,4))

8
4
14

In [116]:
###매개변수의 기본값을 정의
def func_3(x,y=3):
    result=x+y
    return result 
print(func_3(5,1))
print(func_3(3))

6
6

In [120]:
def func_4(x,y):
    result=x**y
    return result
print(func_4(5,2))
print(func_4(y=5, x=2))

25
32

In [128]:
##함수 생성, 매개변수 2개,   1. 함수행동(x부터 y까지의 합을 리턴)-for/while 상관 x
#2. x보다 y가 작은 경우 x부터 y까지 합, 반대인경우 y부터 x까지의 합

def func_5(x,y):
    sum=0
    for i in range(x,y+1,1):
     sum+=i
     
    return sum
print(func_5(2,5))

14

In [131]:
def func_6(x,y):
    f_sum=0
    while x<=y:
        f_sum+=x
        x+=1
    return f_sum
print(func_6(3,5))

12

In [132]:
def func_7(x,y):
    f_sum=0
    if x<y:
     for i in range(x,y+1,1):
        f_sum+=i
    else:
        for i in range(y,x+1,1):
            f_sum+=i
    return f_sum

print(func_7(10,1))

55

In [135]:
def func_8(x,y):
    f_sum=0
    for i in range(min(x,y),max(x,y)+1,1):
        f_sum+=i
        i+=1
        
    return f_sum
print(func_8(1,10))
print(func_8(10,1))

55
55

In [150]:
##
#1.함수생성 (매개변수3개 x,y,z)
#2. z값이 합 x+y 리턴
#3. z값이 차 x-y 리턴
#4. z값이 둘 다 아니면 '연산식이 잘못되었습니다' 리턴

def func_9(x,y,z):
    if z== "합":
        return x+y
    elif z== "차":##elif 말고 if만 써도 됨 (return 따로 써줘서)// else도 빼도 됨
        return x-y
    else:
        return "연산식이 잘못되었습니다"
print(func_9(10,5,"합"))
print(func_9(10,5,"차"))


def func_10(x,y,z):
    if z=="합":
     result=x+y
    elif z=="차":
     result=x-y
    else:
        result="연산식이 잘못되었습니다"
    return result
print(func_10(10,5,"합"))
print(func_10(10,5,"차"))

15
5
15
5

In [147]:
def func_11(x):
    result=x**2
    return result
l=[1,2,3,4]
result=[]
for i in l:
    result.append(func_11(i))
print(result)

#map 함수 
result_2=list(map(func_11,l)) ##list의 1,2,3,4를 하나씩 넣어줄거다!

[1, 4, 9, 16]

In [148]:
##란다 함수
lamb=lambda x:x**2
print(lamb(4))

16

In [149]:
list(map(lamb,l))

[1, 4, 9, 16]